{sub_dirs, ["apps/jobmachine"]}.
{deps_dir, ["deps"]}.
{deps, [
  {uuid4, ".*", {git, "git://github.com/Cloven/uuid4.git"}},
  {eredis, ".*", {git, "git://github.com/wooga/eredis.git"}},
  {folsom, ".*", {git, "git://github.com/boundary/folsom.git"}},
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git"}},
  {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git"}},
  {iso8601,".*", {git, "git://github.com/Cloven/erlang_iso8601.git"}}
]}.
